/* Style for the whole */
body {
 font-family: 'Lato', sans-serif;
 font-weight: 300;
 color: #747704;
 margin: 3% auto 3% auto;
 max-width: 900px;
}

/* Set the style for hr */
hr {
 display: block;
 border-style: solid;
 border-bottom-color: #bcbbbb;
 border-bottom-width: 5px;
}

/* h1 style */
h1 {
 font-weight: 100;
 margin-right: 10%;
}

h4 {
 margin-right: 10%;
}

h2 {
 color: #bcbbbb;
 margin: 4% 10% 1% 1%;
 font-weight: bold;
}

/* Styles for images, links*/
img {
 max-width: 100%;
}

a {
 min-width: 48px;
 min-height: 48px;
}

.container {
 width: 100%;
}

.title-logo {
 margin-top: 5%; 
}

.col-md-4 {
 text-align: center;
 display: inline-block;
}

